/*--TYPOGRAPHY--*/
a:link, a:visited, a:hover, a:active{
    color: black;
    text-decoration: none;
}

p{
    font-size: 16px;
    line-height: 28px;
    color: dimgray;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 55px;
}
h3{
    font-size: 35px;
}
h1, h2, h3{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: dimgrey;
}
/*--BACKGROUND--*/
body{
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
    background-size: cover;
    padding-bottom:60px;
    width: 100%;
    margin: 0;
}
/*--HEADER AND NAVIGATION--*/
.logo{
    background: url(../images/Clean_By_Nature_02.png) no-repeat;
    background-size: 100% 100%;
    height:90px;
    width:270px;
    margin:50px;
}
.header{
    position: absolute;
    top:0;
    z-index: 99;
    background-color: black; 
    width: 100%;
    height: 190px;
}
/*--MOBILE NAVIGATION (HIDDEN IN DESKTOP VIEW)--*/
.dropdown-menu {
    width:20px;
    color: white;
    text-align: right;
    line-height: 2;
    padding: 20px;
    margin: -99px -10px;
}

.dropdown-menu i{
    color: white;
}

.dropdown-menu button{
    right:0px;
    background-color: black;
    border: 0px;
    margin-bottom: 5px;
}

.dropdown-content, .services-content {
    display: none;
    position: absolute;
    text-decoration: none;
    left:0;
    background-color: white;
    width: 195px;
    padding: 20px;
    text-align: left;
    font-size: 25px;
}

.services-content{
    width:auto;
    background-color: black;
    left:65px;
}

 .dropdown-content, .dropdown-menu {
    visibility: hidden;
}
/*--FULL NAVIGATION (ONLY SHOW IN DESKTOP VIEW)--*/
.bigmenu{
    position: absolute;
    right:130px; top:19px;
    margin: 35px -100px 0px 0px;
}

.bigmenu a{
    font-size: 15px;
    color:#e8e972;
    margin: 0px 12px;
    padding-bottom: 5px;
}

.servicesbut{
    font-size: 15px;
    color:#e8e972;
    margin: 0px 12px;
    padding-bottom: 5px;
    background-color: black;
    border-style: none;
}

.bigmenu a:hover{
    font-size: 15px;
    color: white;
    border-bottom: 3px solid white;
}

.servicesbut:hover, .servicesbut:active{
    font-size: 15px;
    color: white;
    border-bottom: 3px solid white;
}

/*--START OF CONTENT--*/
/*--TOP IMAGE AND TEXT CAROSEL--*/
.quotes {
    display: none;
    text-shadow: 1px 1px 2px rgba(150, 150, 149, 0.25);
}

.images img{
    position: absolute;
    z-index: 1;
    top:190px;
    height:500px;
    width:100%;
    object-fit: cover;
}

.images{
    margin-bottom: 750px;
}
.statement{
    position: absolute;
    z-index: 2;
    top:35px;
}

.statement p{
    width:50%;
    min-width: 260px;
    padding-left: 70px;
    margin-bottom: -10px;
}

.statement h2{
    padding: 150px 0px 0px 65px;
}

.feature-banner{
    margin: 0px;
}
/*---------START OF CONTAINER A---------*/
.mission{
    text-align: center;
    padding: 10%;
}

.whychoose{
    margin: -50px auto 50px auto;
    padding: 2%;
    width: 300px;
}

.whychoose h3{
    text-align: center
}

.whychoose i{
    color: #e8e972;
}
.services{
    text-align: center;
    margin: 0px auto;
}

.serviceBox{
    vertical-align: text-top;
    display: inline-block;
    height:auto;
    width: 40%;
    margin: 15px;   
}

.serviceBox img{
    width:80%;
}

.serviceBox h3{
    margin: -4px
}
    
.containerA{
    margin: 170px auto 0 auto;
    width: 100%;
    max-width: 1200px;
}


/*----------------CONTACT US PAGE-------------------*/

.headers{
    text-align: center;
    padding: 0 20px;
    margin: 25% 0 50px 0;
}

.contactform{
    width: 100%;
    height: auto;
    padding: 10px 0px;
    background-color: #231f20;
    font-weight: 300;
}

.contactform p, label{
    color: white;
    font-size: 15px;
}
.contactform ul{
    text-align: center;
    list-style: none;
    margin-top: 10px;
    margin-left: -20%;
    padding-right: 20%;
}
.contactform li{
    list-style: none;
    text-align: right;
}

input[type="text"], textarea{
	height: 45px;
	width: 60%;
	border-style: none;
	margin: 15px 0px;
    padding-left: 5px;
}

textarea{
    height: 100px !important;
	width: 59%;
    vertical-align: middle;
    resize: none;
    padding: 5px;

}
input[type="submit"]{
	font-size: 20px;
	height: 50px;
	width: auto;
	border-style: none;
	color: #231f20;
	background: #edf15e; 
}
/*----------------TESTIMONIALS-----------------*/
.reviews{
    width: 95%;
}
.commentinputboxes{
    margin-right: 15%;
    margin-left: -20%;
}
.comments{
    margin-top: 50px;
    width: 100%;
    height: auto;
    background-color: #231f20;
    padding: 30px 0px;
    border-style: none;
    text-align: right;
}
.footer{
    background-color:gray;
    width: 100%;
    height:auto;
    text-align: center;
    color: white;
    margin:100px 0px -100px 0px;
}

.footer p{
    color: white;
    font-size: 15px;
}
.footercontainer{
    margin: 20px 10px;
    display: inline-block;
    height: 100px;
    width: 200px;
    vertical-align: top;
    line-height: 10px;
    border-left: 1px solid;
    font-size: 12px !important;
}

.footercontainer:first-child{
    border: none;
    background: url(../images/Clean_By_Nature_02.png) no-repeat;
    background-size: contain;
    height:80px;
    width:215px;
    margin-top:30px;
}

.footercontainer a{
    padding:10px;
    color: white;
}

.footeraddress p{
    line-height: 8px;
}

.footercontact {
    padding-right: 30px;
}

@media only screen and (max-width: 950px) {
    .telno{
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .statement{
        margin: -120px 0px 0px -30px;
    }
    
    .containerA{
        margin-top: 50px;
    }
    
    .dropdown-menu, .dropdown-content{
        visibility: visible;
    }
    
    .bigmenu{
        visibility: hidden;
    }
    
    .images img{
        top:70px;
    }
    
    .images{
        margin-bottom: 600px;
    }
    
    .header{
        height:70px;
        position: fixed;
        z-index: 9;
    }
    
    .logo{
        margin: 10px auto;
        height: 70px;
        width: 150px;
        background-size: contain;
    }
    
    .serviceBox{
        width:90%;
    }
    
    .footercontainer{
        border-style: none;
    }
}