@media (min-width: 768px) {
    #banner {
        .carousel-item-text {
            h1 {
                font-size: $h1-size + 28px;
                line-height: 75px;
            }
        }
    }
}

@media (max-width: 767px) {
    #banner {
        .carousel-item-text {
            h1 {
                line-height: 46px;
            }
        }
    }
}