/** Typography **/
$base-font-size: 18px;
$h1-size: 48px;
$h2-size: $h1-size - 0;
$h3-size: $h2-size - 0;
$h4-size: $h3-size - 0;


/** Banner **/
$banner-carousel-a: '/images/banner/woman-cleaning-kitchen.jpg';
$banner-carousel-b: '/images/banner/stock-photo-woman-who-cleans-the-floor-of-the-house-103819709.jpg';
$banner-carousel-c: '/images/banner/stock-photo-woman-cleaning-the-counter-in-the-kitchen-117715075.jpg';